html, body {
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.full-size {
    min-height: 100%;
}

.output-box {
    min-height: 4em;
    background: #dbdbdb;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;  
}